/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 07 */

.container {
	width: 100%;
	margin: 0 auto;
}


.header {}

.header:after {
	content:"";
	display:block;
	visibility: hidden;
	height: 0;
	clear:both;
}

.logo {
	float:left;
	width:30%;
}

.navigation {
	float:right;
	width:60%;
}

.sidebar {
	float:left;
	width:30%;
}

.main-content {}

.main-content:after {
	content:"";
	display:block;
	visibility: hidden;
	height: 0;
	clear:both;
}

.sub-content {
	float:right;
	width:60%;
}

.sub-content-2 {
	float:right;
	width:60%;
}

.footer {}
