/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 10 */

.header {
	margin:0 auto;
	width: 100%;
}

.container {
	width:80%;
	margin: 0 auto;
}

.container:after {
	content:" ";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
}

.sidebar {
	float:left;
	height:300px;
	width:30%;
}

.main-content {
	float:left;
	height:300px;
	width:70%;
}

.sub-content {}

.footer {
	clear:both;
	width:100%;
}

/* what do you have to add to make the sidebar and content and footer not be the full width of the browser? */